/leiningen/.lein/self-installs
/leiningen/.lein/repl-port
/ssh/.ssh/environment
/ssh/.ssh/keys
/homebrew/Brewfile.lock.json
/homebrew/Brewfile.*.lock.json
/vale/styles/alex
/vale/styles/proselint
/vale/styles/write-good
/vale/styles/Readability
.gitconfig.local
**/*.no-commit
